<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/components/style.css">
</head>

<body>
    <h2>TITLE</h2>
    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        it to make a type specimen book.</small>
    <div class="title">
        <p>Sub Title</p>
    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.</p><br>
    <table>
        <tr>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
        </tr>
        <tr>
            <td style="text-align:center;">0</td>
            <td>Data</td>
            <td rowspan="2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
        </tr>
        <tr>
            <td style="text-align:center;">1<br> <img src="../../assets/images/dermite-stade-1.png"
                    alt="Dermite Stade 1"></td>
            <td>Data</td>
        </tr>
        <tr>
            <td style="text-align:center;">2<br> <img src="../../assets/images/dermite-stade-2.png" alt="Dermite Stade 2">
            </td>
            <td>Data</td>
            <td>Data</td>
        </tr>
    </table>
    <div class="title">
        <p>Sub Title</p>
    </div>
    <div>
        <div class="image">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <img src="../../assets/images/patient-uniq-pico.png" alt="patientUniqPico" />
        </div>
        <table class="tableGreen">
            <tr>
                <th>Header</th>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
            </tr>
            <tr>
                <th>Header</th>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
            </tr>
            <tr>
                <th>Header</th>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
            </tr>
        </table>
        <div class="image">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <img src="../../assets/images/patient-uniq-vac.png" alt="patientUniqVac" />
        </div>
        <table class="tablePink">
            <tr>
                <th>Header</th>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
            </tr>
            <tr>
                <th>Header</th>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
            </tr>
            <tr>
                <th>Header</th>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
            </tr>
        </table>
    </div>
</body>

</html>